{% block body %}
    <h1 style="text-align: center;">Form upload files </h1>
    {{ form_start(form, {'attr': {'id': 'uplod_form'} }) }}
    <button type="submit">submit</button>
    {{ form_end(form) }}
{% endblock %}
